.nav-container {
    background-color: rgb(75, 170, 75);
}


.nav-bar {
    height: 8vh;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--right {
        display: flex;
        align-items: center;
    }

    &__link {
        color: white;
        text-decoration: none;
        font-size: 2rem;
        margin: 0 2rem;

        &--create {
            border: 1px solid white;
            padding: 1rem;

            &:hover {
                background-color: white;
                color: green;
            }
        }
        
    }
}
