
.thought-box {
    display: flex;
    justify-content: center;
}

.thought-form {
    background-color: rgb(green, .6);
    height: 60vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgb(black, .3);
    align-items: center;
    border: .3rem solid #f99c66;

    & > * {
        width: 80%;
        border-radius: 3px;
    }

    &__title {
        font-size: 3rem;
        color: #f99c66;
        margin: gb(black, .8)2rem 0;
    }

    &__input {
        height: 5rem;
        border-radius: 3px;
    }

    &__btn {
        width: 20rem;
        padding: 1rem 1.5rem;
        cursor: pointer;
        border-radius: 3px;
        background-color: transparent;
        border: .25rem solid white;
        color: white;

        &:hover {
            color: #f99c66;
            background-color: white;
        }
    }
    
}